*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body { 
    background-color: #fff; 
    color: #ffff; 
    height: 100vh;
    display: flex;
}

h2{
    color: #222;
    font-size: 25px;
    margin-bottom: 15px;

}
/*.oculto{
    display: none;
}*/

.form { 
    top: 50%;
    margin: auto;
    background-color: #f4f4f4;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 20px; 
    border-radius: 5px; 
    flex-direction: column; 
    width: 100%; 
    max-width: 300px; /* Ajusta el ancho del formulario */
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgb(0,0,0,0.15);
}


/*.from .form-element input, button { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    border: 1px solid #aaa;
    border-radius: 5px;
    }
*/

.form .form-element label{
    margin-top: 15px;
    font-size: 15px;
    color: #222;
    display: block;
}

.form .form-element input[type="email"], 
.form .form-element input[type="password"]{ 
    margin-top: 10px;
    display: block;
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}


.form .form-element button {
    margin-top: 15px;
    width: 100%; 
    padding: 10px; 
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #bb86fc; 
    color: #ffffff; 
    cursor: pointer;
    font-size: 16px;
}

.form .form-element button:hover { 
    background-color: #9b5dfc; 
}
.form .form-element a { 
    margin-top: 9px;
    display: block;
    color: #bb86fc; 
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.form .form-element a:hover { 
    text-decoration: underline; 
}